<ul class="site-nav-vertical list-unstyled">
  {% assign count_showmore = sst.show_more | plus: 0 %}
  {% for link in linklists[sst.vertical_menu].links %}
    {% assign isMega = false %}
    {% assign isIcon = false %}
    {% if forloop.index > count_showmore %}
      {% assign class_hidden = ' hide' %}
    {% endif %}
    {%- assign three_level_nav = false -%}
    {%- assign child_list_handle = link.title | handleize -%}

    {% if linklists[child_list_handle].links != blank %}
      {% for childlink in linklists[child_list_handle].links %}
        {% assign grand_child_list_handle = childlink.title | handleize %}
        {% if linklists[grand_child_list_handle].links != blank %}
          {%- assign three_level_nav = true -%}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if sst.novmenu_enable %}
      {% for block in section.blocks %}
        {% assign menuItem = link.title %}
        {% if block.settings.novmenu_item == menuItem %}
          {% include 'nov-megamenu', class_hidden: class_hidden %}
          {% assign isMega = true %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if section.settings.show_icons %}
      {% for block in section.blocks %}
        {% assign menuItem = link.title %}
        {% if block.settings.name_item == menuItem %}
          {% include 'nov-iconmenu' %}
          {% assign isIcon = true %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if isMega == false and isIcon == false %}
      {% if linklists[child_list_handle].links != blank %}
        <li class="nav--lv1 parent--lv1 site-nav--Default{% if link.active %} site-nav--active{% endif %}{{ class_hidden }}{% if forloop.last %} last{% endif %}">
          <a href="{{ link.url }}" class="site-nav__link--main">
            <span class="site-nav--title">{{ link.title }}</span>
            <span class="site-nav--direc d-none"><i class="zmdi zmdi-chevron-down"></i></span>
          </a>
          <div class="nav-dropdown--lv1 MenuDefault">
            {% if three_level_nav %}
              {% if linklists[child_list_handle].links != blank %}
                <ul>
                  {% for childlink in linklists[child_list_handle].links %}
                    {% assign grand_child_list_handle = childlink.title | handle %}
                    <li class="nav--lv2 parent--lv2">
                      <a href="{{ childlink.url }}" class="site-nav__link--second site-nav__link">
                        <span>{{ childlink.title | escape }}</span>
                        {% if linklists[grand_child_list_handle].links != blank %}
                        <span class="site-nav--direc d-none"><i class="zmdi zmdi-chevron-down"></i></span>
                        {% endif %}
                      </a>
                      {% if linklists[grand_child_list_handle].links != blank %}
                      <div class="nav-dropdown--lv2">
                        <ul>
                          {% for grandchildlink in linklists[grand_child_list_handle].links %}
                            <li>
                              <a href="{{ grandchildlink.url }}" class="site-nav__link">{{ grandchildlink.title | escape }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% else %}
              <ul>
                {% for childlink in linklists[child_list_handle].links %}
                  <li {% if childlink.active %}class="site-nav--active"{% endif %}>
                    <a href="{{ childlink.url }}" class="site-nav__link{% if forloop.last %} site-nav__link--last{% endif %}">{{ childlink.title | escape }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </li>
      {% else %}
        <li class="nav--lv1 {{ class_hidden }}{% if link.active %} site-nav--active{% endif %}{% if forloop.last %} last{% endif %}">
          <a href="{{ link.url }}" class="site-nav__link--main" title="{{ link.title }}">{{ link.title }}</a>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
  <li class="ver--show_more hidden pointer text-center"><i></i></li>
</ul>